venv
*.pdb
__pycache__
model_cache
data/brenda_2023_1.json
.env
syn_data/brenda_seq.xlsx
.DS_Store
wandb/
sft_lora_output
grpo_output
sft_llama_70b_4bit_lora_output
llama_70b_4bit_sft_lora_model
function/cafa
unsloth_compiled_cache
all-lm-grpo-mega-run